@keyframes bounceRight {
  0% {
    transform: scaleX(-1) translateY(0);
  }
  50% {
    transform: scaleX(-1) translateY(-10px);
  }
  100% {
    transform: scaleX(-1) translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    opacity: 1;
    top: -15px;
    transform: rotateZ(0deg);
  }
  12% {
    transform: rotateZ(-20deg) scale(0.9);
  }
  24% {
    transform: rotateZ(20deg) scale(0.7);
    right: 3px;
    opacity: 0.7;
  }
  40% {
    transform: rotateZ(-11deg) scale(0.6);
    right: -3px;
  }
  70% {
    transform: rotateZ(10deg) scale(0.4);
    right: 3px;
    opacity: 0.5;
  }
  90% {
    transform: scale(0.2);
    right: -3px;
  }
  100% {
    opacity: 0;
    top: -120px;
    transform: rotateZ(-5deg) scale(0.1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}
// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="peta"] {
  --color_primary: #2375c9;

  // TYPOGRAPHY DEFAULT
  --default_font-family: "proxima-nova", sans-serif;
  --default_color: #4f606c;
  --default_font-size: 16px;
  // --default_font-weight: initial;
  --default_line-height: 1.63;

  // TYPOGRAPHY H1
  --h1_font-family: "Raleway", Helvetica, Roboto, Arial, sans-serif;
  --h1_color: var(--color_primary);
  --h1_font-size: 20px;
  --h1_font-weight: bold;
  // --h1_line-height: initial;

  // TYPOGRAPHY H2
  --h2_color: var(--color_primary);
  --h2_font-size: 20px;
  --h2_font-weight: bold;
  // --h2_line-height: initial;

  // TYPOGRAPHY P
  // --p_font-family: var(--default_font-family);
  --p_color: #4f606c;
  --p_font-size: 12px;
  --p_font-weight: 600;
  --p_line-height: 1.33;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  // --a_color: initial;
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  --fields_spacing-inline: 3px;
  --fields_spacing-block: 3px;

  // TYPOGRAPHY INPUT
  // --input_font-family: var(--default_font-family);
  --input_color: #4e606c;
  // --input_font-size: var(--root_font-size);
  // --input_font-weight: initial;
  // --input_line-height: initial;
  --input_background-color: #f6f7f8;
  // --input_border-width: 1px;
  --input_border-color: #d7e4e7;
  --input_border-radius: 2px;
  --input_placeholder-color: #929ca4;
  --input_box-shadow: none;
  --input_padding: 12px 20px;

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  // --input_color_hover: var(--input_color);
  // --input_background-color_hover: var(--input_background-color);
  // --input_border-color_hover: #767677;
  // --input_border-bottom-color_hover: var(--input_border-color_hover);
  // --input_box-shadow_hover: --input_box-shadow;

  // TYPOGRAPHY BUTTON
  // --button_font-family: var(--default_font-family);
  --button_color: var(--input_color);
  // --button_font-size: var(--root_font-size);
  --button_font-weight: 600;
  // --button_line-height: initial;
  --button_background-color: var(--input_background-color);
  // --button_border-width: 1px;
  --button_border-color: var(--input_border-color);
  --button_border-radius: 2px;
  --button_text-transform: uppercase;
  --button_padding: 15px 0.2ch;

  // TYPOGRAPHY BUTTON:HOVER
  // --button_color_hover: var(--button_color);
  --button_background-color_hover: var(--button_background-color);
  --button_border-color_hover: var(--button_border-color);

  // TYPOGRAPHY BUTTON:SELECTED
  --button_color_checked: #ffffff;
  --button_background-color_checked: var(--color_primary);
  // --button_border-color_checked: var(--button_border-color_hover);

  --submit__button_color: var(--button_color_checked);
  --submit__button_border-color: var(--button_background-color_checked);
  --submit__button_background-color: var(--button_background-color_checked);
  --submit__button_font-weight: var(--button_font-weight);
  --submit__button_color_hover: #ffffff;
  --submit__button_background-color_hover: #000000;
  --submit__button_border-color_hover: #000000;

  // DONATION PAGE
  // --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  // --recurring-frequency__button_count: 4;
  // --donation-amount__button_count: 4;
  // --give-by-select__button_count: 4;
  --recurring-frequency__button_font-size: 14px;
  --donation-amount__button_background-color_checked: var(
    --button_background-color_checked
  );
  --donation-amount__button_border-color_checked: var(
    --button_background-color_checked
  );
  --donation-amount__button_color_checked: var(--button_color_checked);
  --donation-amount__button_font-weight: var(--button_font-weight);
  --recurring-frequency__button_background-color_checked: var(--color_primary);
  --recurring-frequency__button_border-color_checked: var(
    --button_background-color_checked
  );
  --recurring-frequency__button_color_checked: var(--button_color_checked);
  --recurring-frequency__button_font-weight: var(--button_font-weight);
  --recurring-frequency__button_padding: 16px 0.2ch;
  --submit__button_padding-top: 1.75ch;
  --submit__button_padding-bottom: 1.75ch;

  --checkbox_border-radius: 5px;
  --checkbox_background-color_checked: var(--color_primary);
  --checkbox_border-color_checked: var(--color_primary);
  --checkbox_color_checked: #ffffff;

  --error__color: #c92533;
  --error__color_faded: #fff8f7;
  --error__background-color: #fff8f7;

  --engrid__body-main_padding: 0;
}

/* Add your custom theme styles here */
[data-engrid-theme="peta"] {
  // Zoom Out If Screen Is 320px or less
  // @media only screen and (max-width: 320px) {
  //   #engrid {
  //     zoom: 0.85;
  //   }
  // }

  form > .en__component--row.en__component--advrow {
    min-height: auto !important;
  }

  &:not(#en__pagebuilder) {
    .showif-digital-wallets {
      display: none;
    }
    .showif-card {
      display: none !important;
    }
    .showif-paypal {
      display: none !important;
    }
  }

  &[data-engrid-payment-type="paypal"] {
    .showif-paypal {
      display: flex !important;
    }
  }

  &[data-engrid-payment-type="card"] {
    .showif-card {
      display: flex !important;
    }
  }

  &[data-engrid-payment-type-option-apple-pay="true"],
  &[data-engrid-payment-type-option-google-pay="true"] {
    .showif-digital-wallets {
      display: block;
    }
  }

  .radio-to-buttons_recurrfreq {
    --recurring-frequency__button_count: 2;
  }

  .radio-to-buttons_donationAmt {
    --donation-amount__button_count: 3;

    .en__field--radio.en__field--withOther.en__field--donationAmt
      .en__field__item--other {
      flex-basis: 100%;
      position: relative;

      &:before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" fill="none" viewBox="0 0 11 20"><path fill="%234f606c" d="M10.268 12.176c-.097-.327-.214-.612-.352-.853-.138-.242-.335-.478-.591-.71-.257-.23-.488-.416-.692-.557-.205-.142-.486-.3-.843-.475s-.64-.305-.848-.39c-.208-.086-.51-.203-.904-.352-.35-.134-.61-.236-.782-.307-.17-.07-.396-.17-.675-.301-.279-.13-.487-.246-.625-.346-.137-.1-.284-.223-.44-.368-.157-.145-.267-.3-.33-.463-.063-.164-.095-.343-.095-.536 0-.506.223-.919.67-1.239.446-.32 1.023-.48 1.73-.48.312 0 .63.043.954.129.324.085.6.182.831.29.231.108.449.227.654.357.204.13.35.229.435.296.085.067.14.111.162.134.097.074.197.1.301.078.112-.008.197-.067.257-.179l.904-1.63c.09-.148.07-.29-.056-.423-.044-.045-.1-.097-.167-.157s-.212-.167-.436-.323c-.223-.157-.46-.296-.708-.419-.25-.123-.573-.247-.972-.374-.397-.126-.809-.212-1.233-.256V.357c0-.104-.033-.19-.1-.257C6.25.034 6.164 0 6.06 0H4.553c-.096 0-.18.035-.25.106-.071.07-.107.154-.107.251v2.01c-1.168.222-2.117.72-2.846 1.495-.729.773-1.094 1.674-1.094 2.7 0 .306.032.596.095.87.063.276.142.524.235.743.093.22.225.435.396.648.171.212.333.394.485.546.153.153.352.311.597.475.246.163.456.296.631.396.175.1.408.216.698.346.29.13.519.229.686.296.168.066.396.16.687.278.401.157.7.278.893.363.193.086.439.205.736.357.298.153.515.292.653.419.138.126.262.283.374.469.112.186.168.383.168.591 0 .588-.23 1.042-.687 1.361-.457.32-.988.48-1.59.48-.275 0-.55-.03-.826-.089-.967-.193-1.871-.658-2.712-1.395l-.022-.022c-.067-.082-.157-.115-.268-.1-.12.014-.205.06-.257.134l-1.15 1.506c-.111.149-.104.302.023.458.037.044.102.112.195.2.093.09.266.23.52.42.252.19.527.368.825.535.298.168.675.333 1.133.497.458.163.932.279 1.423.346v1.953c0 .097.035.18.106.251.07.07.154.106.251.106h1.507c.104 0 .19-.033.257-.1s.1-.153.1-.257V17.69c1.183-.194 2.145-.702 2.885-1.524.74-.822 1.11-1.802 1.11-2.94 0-.373-.048-.722-.146-1.05z"/></svg>');
        position: absolute;
        width: 11px;
        height: 20px;
        top: 50%;
        font-size: 20px;
        font-weight: 700;
        left: 19px;
        line-height: 0;
        transform: translateY(-50%);
        color: var(--h1_color);
      }

      &:after {
        content: "USD";
        display: block;
        font-size: 12px;
        font-weight: 500;
        height: 0;
        right: 19px;
        line-height: 0;
        position: absolute;
        top: 50%;
        color: #254d68;
        opacity: 0.8;
      }

      input {
        padding-left: 39px;
        padding-right: 58px;
        background-image: none !important;
      }
    }
  }

  .monthly-upsell-message {
    position: relative;
    p {
      font-size: 14px;
      line-height: 1.43;
      font-family: "Kalam", sans-serif;
      color: var(--color_primary);
      font-weight: 400;
      padding: 0 5px;
      margin-top: 5px;
      margin-bottom: 15px;
      strong {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="76" height="10" fill="none" viewBox="0 0 76 10"><path fill="%23FFF06D" d="M74.22 5.129l-1.245.005c-.208.367-.567.653-1.103.756-.24.045-.48.077-.72.12.123.99-.461 2.084-1.76 2.084h-4.76c-.006.907-.6 1.814-1.78 1.824-10.952.1-21.903.105-32.855.033l-22.193.023c-.427 0-.774-.116-1.047-.302-.868-.015-1.736-.024-2.605-.04-1.122-.021-1.705-.815-1.767-1.656C1.177 7.537.947 5.914 1.7 5.027-.137 4.961-.482 2.707.65 1.777.675.885 1.265.01 2.426.01L71.626 0c1.044 0 1.627.694 1.754 1.476l.84.001c2.376.004 2.371 3.643 0 3.652z"/></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 10px;
        background-position-x: -100vw;
        transition: 1s background-position-x ease-in-out;
        display: inline-block;
      }
    }
    svg {
      color: var(--color_primary);
      position: absolute;
      top: -30px;
      width: 20px;
      height: 40px;
      display: none;
      &.right {
        transform: scaleX(-1);
        right: -30px;
        display: block;
      }
      &.left {
        left: -30px;
        display: block;
      }
    }
    &.bounce {
      svg.right {
        animation: bounceRight 0.5s infinite;
      }
      svg.left {
        animation: bounce 0.5s infinite;
      }
    }
  }
  &[data-engrid-transaction-recurring-frequency="onetime"] {
    .monthly-upsell-message {
      p {
        strong {
          background-position-x: 0;
        }
      }
    }
  }

  &:not(#en__pagebuilder)
    .en__field:not(.en__field--checkbox)
    > .en__field__label {
    display: none;
  }

  h2 {
    text-align: center;
  }

  &[data-engrid-transaction-recurring-frequency="monthly"]
    .radio-to-buttons_donationAmt
    .en__field--donationAmt
    div:not(.en__field__item--other)
    .en__field__label--item:after {
    font-size: calc(var(--donation-amount__button_font-size) * (1 / 1.75));
    margin-left: 0px;
    position: relative;
    top: 2px;
    text-transform: lowercase;
  }

  select,
  select.en__field__input--select,
  select.en__field__input--splitselect,
  select.en__field__input--tripleselect {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb(79, 96, 108)'></polygon></svg>");

    &:focus,
    &:hover {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb(79, 96, 108)'></polygon></svg>");
    }
  }

  .en__field--validationFailed .en__field__error {
    display: none;
  }

  form.en__component > .en__component {
    position: relative;

    .section-navigation {
      position: absolute;
      // height: 100px;
      bottom: 0;
      width: 260px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      button {
        position: relative;
        height: 52px;
        min-width: 52px;
        padding: 0 12px;
        border-radius: 2px;
        text-transform: uppercase;
        color: #ffffff;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: "proxima-nova", sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.84px;
        margin-bottom: 0;
        transform: translateZ(0);
        backface-visibility: hidden;
        small {
          font-size: 10px;
          font-weight: 400;
        }
        &.section-navigation__next[data-section-id="2"] {
          display: none;
        }
        &.section-navigation__previous {
          color: var(--color_primary);
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: var(--color_primary);
            opacity: 0.3;
            transition: opacity 0.2s;
            border-radius: 2px;
          }
          &:hover {
            &::before {
              opacity: 0.5;
            }
          }
        }

        &.section-navigation__submit,
        &.section-navigation__next {
          background-color: var(--color_primary);
          opacity: 1;
          width: 190px;
          box-shadow: -22px 21px 29px 2px rgba(0, 0, 0, 0.13),
            0 8px 12px 0 rgba(0, 0, 0, 0.09);
          svg {
            transition: 0.3s transform ease-in-out;
            transform: translateX(15px);
          }
          &:hover {
            background-color: var(--color_primary);
            svg {
              transform: translateX(30px);
            }
          }
        }
        &[data-section-id="0"] {
          width: 100%;
        }
      }
    }
    > .en__component {
      min-width: auto;
    }
  }

  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--checkbox
    .en__field__item,
  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--imgselect
    .en__field__item,
  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--radio
    .en__field__item,
  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--rating
    .en__field__item,
  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--splitselect
    .en__field__item,
  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--splittext
    .en__field__item,
  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--tripleselect
    .en__field__item,
  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--tripletext
    .en__field__item,
  .en__component--formblock
    .en__field
    .en__field__element.en__field__element--withOther
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--checkbox
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--imgselect
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--radio
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--rating
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--splitselect
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--splittext
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--tripleselect
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--tripletext
    .en__field__item,
  .en__component--svblock
    .en__field
    .en__field__element.en__field__element--withOther
    .en__field__item {
    padding: 3px;
  }
  .en__component--formblock
    .en__field:not(.en__field--validationFailed)
    .en__field__element
    > input,
  .en__component--formblock
    .en__field:not(.en__field--validationFailed)
    .en__field__element
    > select,
  .en__component--formblock
    .en__field:not(.en__field--validationFailed)
    .en__field__element
    > textarea,
  .en__component--svblock
    .en__field:not(.en__field--validationFailed)
    .en__field__element
    > input,
  .en__component--svblock
    .en__field:not(.en__field--validationFailed)
    .en__field__element
    > select,
  .en__component--svblock
    .en__field:not(.en__field--validationFailed)
    .en__field__element
    > textarea {
    margin-bottom: 3px;
    margin-top: 3px;
  }
  .en__component--formblock .en__field,
  .en__component--svblock .en__field {
    margin-bottom: 0;
  }
  .en__component--formblock > *,
  .en__component--svblock > * {
    padding-left: 0;
    padding-right: 0;
  }
  .en__component--formblock,
  .en__component--svblock {
    margin-left: 0;
    margin-right: 0;
  }

  .en__field--ccnumber input {
    background-size: 30px !important;
    background-position: center;
  }
  .en__field--ccexpire .en__field__element--splitselect {
    margin-right: 0 !important;
  }
  .en__field--ccvv .en__field__element {
    padding-left: 3px;
  }
  .en__field--checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: normal;
    justify-content: flex-end;
    label {
      font-size: 12px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      margin-left: 10px;
    }
    .en__field__label--item {
      width: 20px;
      margin-left: 0;
    }
  }
  .credit-card-flags {
    text-align: center;
    margin-bottom: 25px;
  }
  h4 {
    font-family: var(--font-stack-aiusa-bold-condensed);
    font-size: 16px;
    color: #4f606c;
    text-align: center;
    margin-bottom: 10px;

    &.title-line {
      font-weight: 400;
      margin: 0 0 15px;
      overflow: hidden;
      position: relative;
      width: 100%;

      span {
        display: inline-block;
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
      }
      &:before {
        background-color: #d7e5e8;
        content: "\a0";
        height: 1px;
        overflow: hidden;
        position: absolute;
        top: 51%;
        left: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }
  .payment-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 6px;
      height: 52px;
      width: 100%;
      border-radius: 2px;
      padding: 0 12px;
      span {
        display: inline-block;
        overflow: hidden;
        text-indent: -100vw;
      }
      &.payment-option-paypal {
        background-color: #fcbb32;
        border-color: #fcbb32;
        span {
          width: 105px;
          height: 30px;
          background-image: url('data:image/svg+xml,<svg viewBox="0 0 700 200" xmlns="http://www.w3.org/2000/svg"><defs></defs><g transform="matrix(1, 0, 0, 1, -19.923618, -162.555496)"><path d="M 148.304 181.906 C 139.905 176.132 128.945 173.238 115.424 173.238 L 63.078 173.238 C 58.933 173.238 56.643 175.311 56.208 179.452 L 34.943 312.932 C 34.722 314.243 35.05 315.442 35.924 316.532 C 36.793 317.625 37.886 318.168 39.195 318.168 L 64.059 318.168 C 68.42 318.168 70.817 316.1 71.257 311.952 L 77.145 275.967 C 77.36 274.223 78.127 272.805 79.436 271.713 C 80.744 270.623 82.38 269.909 84.343 269.583 C 86.306 269.259 88.157 269.096 89.905 269.096 C 91.648 269.096 93.719 269.206 96.122 269.423 C 98.519 269.641 100.047 269.747 100.702 269.747 C 119.458 269.747 134.18 264.462 144.869 253.881 C 155.553 243.304 160.901 228.637 160.901 209.877 C 160.901 197.009 156.699 187.685 148.304 181.902 L 148.304 181.906 Z M 121.314 221.986 C 120.22 229.621 117.388 234.635 112.808 237.035 C 108.227 239.438 101.684 240.632 93.179 240.632 L 82.382 240.96 L 87.945 205.953 C 88.379 203.556 89.796 202.356 92.197 202.356 L 98.415 202.356 C 107.135 202.356 113.464 203.613 117.39 206.117 C 121.314 208.627 122.623 213.919 121.314 221.986 Z" fill="%23003087"></path><path d="M 700.714 173.236 L 676.506 173.236 C 674.101 173.236 672.685 174.436 672.253 176.835 L 650.986 312.935 L 650.658 313.589 C 650.658 314.685 651.095 315.716 651.969 316.698 C 652.837 317.677 653.932 318.169 655.24 318.169 L 676.835 318.169 C 680.973 318.169 683.264 316.101 683.706 311.954 L 704.971 178.144 L 704.971 177.819 C 704.969 174.766 703.547 173.239 700.714 173.239 L 700.714 173.236 Z" fill="%23009CDE"></path><path d="M 408.234 225.916 C 408.234 224.828 407.796 223.79 406.928 222.81 C 406.053 221.829 405.071 221.336 403.983 221.336 L 378.792 221.336 C 376.388 221.336 374.426 222.432 372.902 224.607 L 338.223 275.647 L 323.829 226.572 C 322.733 223.084 320.336 221.336 316.631 221.336 L 292.091 221.336 C 290.998 221.336 290.016 221.828 289.149 222.81 C 288.274 223.79 287.84 224.829 287.84 225.916 C 287.84 226.356 289.967 232.787 294.219 245.219 C 298.471 257.653 303.052 271.067 307.96 285.463 C 312.868 299.857 315.428 307.494 315.648 308.361 C 297.762 332.791 288.822 345.879 288.822 347.621 C 288.822 350.459 290.239 351.875 293.075 351.875 L 318.266 351.875 C 320.665 351.875 322.627 350.787 324.156 348.604 L 407.583 228.204 C 408.016 227.771 408.234 227.011 408.234 225.915 L 408.234 225.916 Z" fill="%23003087"></path><path d="M 642.814 221.336 L 617.949 221.336 C 614.893 221.336 613.045 224.935 612.39 232.133 C 606.713 223.413 596.359 219.045 581.307 219.045 C 565.603 219.045 552.242 224.935 541.23 236.713 C 530.214 248.492 524.709 262.344 524.709 278.264 C 524.709 291.135 528.47 301.385 535.994 309.016 C 543.518 316.655 553.605 320.467 566.26 320.467 C 572.583 320.467 579.017 319.156 585.56 316.541 C 592.104 313.924 597.225 310.436 600.939 306.072 C 600.939 306.291 600.717 307.27 600.285 309.014 C 599.845 310.762 599.63 312.074 599.63 312.94 C 599.63 316.434 601.044 318.174 603.884 318.174 L 626.46 318.174 C 630.598 318.174 633.001 316.106 633.653 311.958 L 647.068 226.569 C 647.283 225.26 646.957 224.062 646.087 222.97 C 645.211 221.883 644.123 221.336 642.814 221.336 Z M 600.12 285.788 C 594.558 291.241 587.851 293.967 580 293.967 C 573.672 293.967 568.551 292.225 564.623 288.733 C 560.695 285.25 558.732 280.451 558.732 274.337 C 558.732 266.273 561.459 259.453 566.913 253.891 C 572.359 248.329 579.127 245.548 587.197 245.548 C 593.299 245.548 598.371 247.348 602.409 250.945 C 606.441 254.544 608.464 259.508 608.464 265.833 C 608.463 273.684 605.681 280.338 600.12 285.788 Z" fill="%23009CDE"></path><path d="M 271.154 221.336 L 246.29 221.336 C 243.232 221.336 241.382 224.935 240.727 232.133 C 234.838 223.413 224.477 219.045 209.646 219.045 C 193.942 219.045 180.581 224.935 169.568 236.713 C 158.552 248.492 153.047 262.344 153.047 278.264 C 153.047 291.135 156.81 301.385 164.335 309.016 C 171.86 316.655 181.945 320.467 194.597 320.467 C 200.701 320.467 207.03 319.156 213.572 316.541 C 220.115 313.924 225.35 310.436 229.276 306.072 C 228.401 308.688 227.967 310.979 227.967 312.94 C 227.967 316.434 229.384 318.174 232.22 318.174 L 254.794 318.174 C 258.935 318.174 261.337 316.106 261.992 311.958 L 275.405 226.569 C 275.62 225.26 275.293 224.062 274.424 222.97 C 273.551 221.883 272.462 221.336 271.154 221.336 Z M 228.459 285.95 C 222.896 291.301 216.077 293.967 208.012 293.967 C 201.683 293.967 196.612 292.225 192.798 288.733 C 188.979 285.25 187.072 280.451 187.072 274.337 C 187.072 266.273 189.797 259.453 195.252 253.891 C 200.701 248.329 207.463 245.548 215.536 245.548 C 221.64 245.548 226.711 247.348 230.75 250.946 C 234.782 254.545 236.802 259.509 236.802 265.834 C 236.802 273.903 234.021 280.612 228.459 285.95 Z" fill="%23003087"></path><path d="M 519.964 181.906 C 511.566 176.132 500.608 173.238 487.085 173.238 L 435.065 173.238 C 430.701 173.238 428.3 175.311 427.868 179.452 L 406.602 312.932 C 406.381 314.244 406.708 315.443 407.583 316.533 C 408.448 317.625 409.545 318.168 410.854 318.168 L 437.68 318.168 C 440.297 318.168 442.041 316.752 442.915 313.916 L 448.805 275.967 C 449.021 274.223 449.785 272.805 451.095 271.713 C 452.404 270.623 454.038 269.91 456.003 269.583 C 457.965 269.259 459.815 269.096 461.565 269.096 C 463.308 269.096 465.379 269.206 467.779 269.423 C 470.178 269.641 471.71 269.747 472.359 269.747 C 491.119 269.747 505.838 264.462 516.527 253.881 C 527.215 243.304 532.558 228.637 532.558 209.877 C 532.56 197.01 528.359 187.686 519.964 181.903 L 519.964 181.906 Z M 486.43 235.726 C 481.631 238.997 474.433 240.632 464.838 240.632 L 454.368 240.96 L 459.93 205.953 C 460.362 203.556 461.779 202.356 464.182 202.356 L 470.069 202.356 C 474.867 202.356 478.683 202.574 481.523 203.009 C 484.354 203.449 487.085 204.808 489.702 207.098 C 492.32 209.389 493.628 212.716 493.628 217.078 C 493.628 226.238 491.226 232.453 486.43 235.726 Z" fill="%23009CDE"></path></g></svg>');
        }
      }
      &.payment-option-card {
        background-color: var(--color_primary);
        border-color: var(--color_primary);
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          padding-left: 30px;
          text-indent: 0;
          width: 165px;
          height: 30px;
          background-image: url('data:image/svg+xml,<svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M4.5 10.5H20.5M4.5 9.5H20.5M4.5 11.5H20.5M7 15.5H14M5.5 18.5H19.5C20.0523 18.5 20.5 18.0523 20.5 17.5V7.5C20.5 6.94772 20.0523 6.5 19.5 6.5H5.5C4.94772 6.5 4.5 6.94772 4.5 7.5V17.5C4.5 18.0523 4.94772 18.5 5.5 18.5Z" stroke="%23ffffff" stroke-width="1.2"></path></g></svg>');
          background-position: 10px;
          background-size: 30px;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .section-count {
    display: none;
  }
  .en__component--copyblock {
    p {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    a {
      color: var(--color_primary);
    }
  }

  &[data-engrid-embedded] {
    // height: 100vh;
    form.en__component {
      scroll-snap-type: x mandatory;
      margin: 0 auto;
      display: grid;
      grid-auto-flow: column;
      overscroll-behavior-x: contain;
      // scroll-behavior: smooth;

      & > .en__component {
        // height: 100vh;
        width: $one_col_body-column_max-width + 45px + 45px;
        padding: 45px;
        scroll-snap-align: start;

        transition: 0.3s max-height linear;
        max-height: var(--section_height, auto);
        min-height: var(--section_height, auto);
        overflow: hidden;
        &.active {
          max-height: 10000px;
          overflow: auto;
        }

        & > .en__component {
          height: 100%;
          padding-bottom: 60px;
        }
      }

      .en__component--row
        > .en__component--column
        .en__component:first-of-type
        > *:first-child {
        margin-top: 0;
        padding-top: 0;
      }

      .en__component--copyblock h2:first-of-type {
        margin-top: 0;
      }

      .en__component--row
        > .en__component--column
        .en__component:last-of-type
        > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .en__submit,
    .en__errorHeader,
    .en__errorList {
      display: none;
    }
  }
  .has-error {
    label,
    .en__field__input--other,
    .en__field__input {
      border-color: var(--error__color) !important;
      background-color: rgba(255, 238, 235, 0.4);
    }
  }
  &[data-thank-you] {
    // form.en__component > .en__component {
    //   padding: 0;
    // }
    .en__component--imageblock {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      position: relative;
      img {
        width: 150px !important;
        height: 150px !important;
        object-fit: cover;
        border-radius: 100%;
      }
      &::after,
      &::before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="46" height="38" fill="none" viewBox="0 0 46 38"><path fill="%23C92533" d="M33.707 0C29.268 0 25.174 2.166 23 5.664 20.826 2.166 16.732 0 12.293 0 5.504 0 0 5.693 0 11.83 0 27.245 23 38 23 38s23-10.755 23-26.17C46 5.693 40.496 0 33.707 0z"/></svg>');
        position: absolute;
        top: 0;
        right: 0;
        width: 46px;
        height: 38px;
      }
    }
    form.en__component {
      & > .en__component {
        padding: 60px 45px;
        margin: auto;
      }
    }
    footer {
      position: fixed;
      left: 0;
      width: 100vw;
      bottom: 0;
      height: 132px;
      background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="132" viewBox="0 0 400 132" width="400" xmlns="http://www.w3.org/2000/svg"> <path d="M0 110.582L400 0v128c0 2.209-1.791 4-4 4H0v-21.418z" fill="%23A3D1D6"></path> <path d="M0 73.5L400 132H0V73.5z" fill="%232375c9"></path></svg>');
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      z-index: -1;
      svg {
        display: none;
      }
    }
    h1 {
      font-family: var(--h1_font-family);
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.83;
      letter-spacing: normal;
      text-align: left;
      color: var(--color_primary);
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: #4f606c;
      &.small {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        color: #4f606c;
      }
    }
  }
  .en__field--emailAddress {
    position: relative;
    #petaEmailValidator {
      width: 100%;
      font-size: 0.75rem;
      position: absolute;
      background-color: var(--error__color);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      color: #fff;
      padding: 5px;
      opacity: 0;
      bottom: 40px;
      transition: 0.3s opacity ease-in-out, 0.3s bottom ease-in-out,
        z-index 0.3s ease-in-out;
      z-index: -1;
      &.show {
        opacity: 1;
        bottom: -20px;
        z-index: 3;
      }
      .close {
        position: absolute;
        box-sizing: content-box;
        right: 4px;
        top: 6px;
        width: 15px;
        height: 15px;
        z-index: 1000;
        text-indent: -1000vw;
        outline: none;
        &:hover {
          &::before {
            transform: rotate(45deg) scale(1.5);
          }
          &::after {
            transform: rotate(-45deg) scale(1.5);
          }
          &::before,
          &::after {
            background-color: var(--error__color_faded);
          }
        }
        &::before,
        &::after {
          transition: 0.3s transform ease-in-out,
            0.3s background-color ease-in-out;
          position: absolute;
          content: " ";
          height: 9px;
          width: 2px;
          background-color: #fff;
          left: 6px;
          top: 4px;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
