// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="peta"]{
    // TYPOGRAPHY DEFAULT
    --default_font-family: "proxima-nova", sans-serif;
    --default_color: #4f606c;
    --default_font-size: 16px;
    // --default_font-weight: initial;
    --default_line-height: 1.63;

    // TYPOGRAPHY H1
    --h1_font-family: "raleway", Helvetica, Roboto, Arial, sans-serif;
    --h1_color: #418fde;
    --h1_font-size: 20px;
    --h1_font-weight: bold;
    // --h1_line-height: initial;
       
    
    // TYPOGRAPHY H2
    --h2_color: #418fde;
    --h2_font-size: 20px;
    --h2_font-weight: bold;
    // --h2_line-height: initial;

    // TYPOGRAPHY P
    // --p_font-family: var(--default_font-family);
    // --p_color: initial;
    // --p_font-size: var(--root_font-size);
    // --p_font-weight: initial;
    // --p_line-height: initial;

    // TYPOGRAPHY A
    // --a_font-family: var(--default_font-family);
    // --a_color: initial;
    // --a_text-decoration: underline;

    // TYPOGRAPHY A:FOCUS
    // TYPOGRAPHY A:HOVER
    // --a_color_hover: var(--a_color);
    // --a_text-decoration_hover: initial;

    --fields_horizontal_spacing: 0.16rem;
    --fields_vertical_spacing: 0.16rem;

    // TYPOGRAPHY INPUT
    // --input_font-family: var(--default_font-family);
    --input_color: #4e606c;
    // --input_font-size: var(--root_font-size);
    // --input_font-weight: initial;
    // --input_line-height: initial;
    --input_background-color: #f6f7f8;
    // --input_border-width: 1px;
    --input_border-color: #d7e4e7;
    --input_border-radius: 2px;
    --input_placeholder-color: #929ca4;
    --input_box-shadow: none;
        
    // TYPOGRAPHY INPUT:FOCUS
    // TYPOGRAPHY INPUT:HOVER
    // --input_color_hover: var(--input_color);
    // --input_background-color_hover: var(--input_background-color);
    // --input_border-color_hover: #767677;
    // --input_border-bottom-color_hover: var(--input_border-color_hover);
    // --input_box-shadow_hover: --input_box-shadow;

    // TYPOGRAPHY BUTTON
    // --button_font-family: var(--default_font-family);
    --button_color: var(--input_color);
    // --button_font-size: var(--root_font-size);
    --button_font-weight: 600;
    // --button_line-height: initial;
    --button_background-color: var(--input_background-color);
    // --button_border-width: 1px;
    --button_border-color: var(--input_border-color);
    --button_border-radius: 2px;
    --button_text-transform: uppercase;
    --button_padding: 1ch .2ch;

    // TYPOGRAPHY BUTTON:HOVER
    // --button_color_hover: var(--button_color);
    --button_background-color_hover: var(--button_background-color);
    --button_border-color_hover: var(--button_border-color);

    // TYPOGRAPHY BUTTON:SELECTED
    --button_color_checked: #ffffff;
    --button_background-color_checked: #418fde;
    // --button_border-color_checked: var(--button_border-color_hover);

    --submit__button_color: var(--button_color_checked);
    --submit__button_border-color: var(--button_background-color_checked);
    --submit__button_background-color: var(--button_background-color_checked);
    --submit__button_font-weight: var(--button_font-weight);
    --submit__button_color_hover: #ffffff;
    --submit__button_background-color_hover: #000000;
    --submit__button_border-color_hover: #000000;

    // DONATION PAGE
    // --give-monthly-donation-amount-appended-label: "/mo";
    // --give-annual-donation-amount-appended-label: "/yr";  
    // --recurring-frequency__button_count: 4;
    // --donation-amount__button_count: 4;
    // --give-by-select__button_count: 4;
    --recurring-frequency__button_font-size: 14px;
    --donation-amount__button_background-color_checked: var(--button_background-color_checked);
    --donation-amount__button_border-color_checked: var(--button_background-color_checked);
    --donation-amount__button_color_checked: var(--button_color_checked);
    --donation-amount__button_font-weight: var(--button_font-weight);
    --recurring-frequency__button_background-color_checked: var(--button_background-color_checked);
    --recurring-frequency__button_border-color_checked: var(--button_background-color_checked);
    --recurring-frequency__button_color_checked: var(--button_color_checked);
    --recurring-frequency__button_font-weight: var(--button_font-weight);
    --recurring-frequency__button_padding: 1.75ch 0.2ch;
    --submit__button_padding-top: 1.75ch;
    --submit__button_padding-bottom: 1.75ch;

    --checkbox_border-radius: 5px;
    --checkbox_background-color_checked: #418fde;
    --checkbox_border-color_checked: #418fde;
    --checkbox_color_checked: #ffffff;

    --error__color: #c92432;
    --error__color_faded: #fff8f7;
    --error__background-color: #fff8f7;
}

/* Add your custom theme styles here */
[data-engrid-theme="peta"]{  
  
  .radio-to-buttons_recurrfreq{
    --recurring-frequency__button_count: 2;
  }
  
  .radio-to-buttons_donationAmt{
    --donation-amount__button_count: 3;

    .en__field--radio.en__field--withOther.en__field--donationAmt .en__field__item--other{
      flex-basis: 100%;
    }
  }

  .en__field > .en__field__label{
    display: none;
  }

  h2{
    text-align: center;
  }

  &[data-engrid-transaction-recurring-frequency=monthly] .radio-to-buttons_donationAmt .en__field--donationAmt div:not(.en__field__item--other) .en__field__label--item:after{
    font-size: calc(var(--donation-amount__button_font-size) * (1 / 1.75));
    margin-left: 0px;
    position: relative;
    top: 2px;
    text-transform: lowercase;
  }

  select,
  select.en__field__input--select,
  select.en__field__input--splitselect,
  select.en__field__input--tripleselect{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb(79, 96, 108)'></polygon></svg>");
    
    &:focus,
    &:hover{
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb(79, 96, 108)'></polygon></svg>");
    }
  }

  .en__field--validationFailed .en__field__error{
    display: none;
  }

  #DonationLightbox {
    // max-width: 400px;
    // margin: 0 auto;
    form.en__component > .en__component {
      position: relative;
      .section-navigation {
        position: absolute;
        height: 100px;
        bottom: 0;
        width: 260px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 1) 100%
        );
  
        button {
          height: 52px;
          min-width: 52px;
          padding: 0 12px;
          border-radius: 2px;
          background-color: rgba(65, 143, 222, 0.19);
          text-transform: uppercase;
          color: #fff;
          border: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-family: "proxima-nova", sans-serif;
          font-size: 14px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 0.84px;
          &.section-navigation__submit,
          &.section-navigation__next {
            background-color: #418fde;
            opacity: 1;
            width: 190px;
            box-shadow: -22px 21px 29px 2px rgba(0, 172, 255, 0.13),
              0 8px 12px 0 rgba(0, 0, 0, 0.09);
            svg {
              transition: 0.3s transform ease-in-out;
              transform: translateX(15px);
            }
            &:hover {
              background-color: #418fde;
              svg {
                transform: translateX(30px);
              }
            }
          }
          &[data-section-id="0"] {
            width: 100%;
          }
          &:hover {
            background-color: rgba(65, 143, 222, 0.32);
          }
        }
      }
      > .en__component {
        min-width: auto;
      }
    }
  }
  [data-iframe-embedded] {
    height: 100vh;
    form.en__component {
      scroll-snap-type: x mandatory;
      margin: 0 auto;
      display: grid;
      grid-auto-flow: column;
      overscroll-behavior-x: contain;
      & > .en__component {
        height: 100vh;
        width: 400px;
        padding: 50px 70px;
        scroll-snap-align: start;
      }
    }
  }
}